*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}



body > header{
    background-color: cadetblue;
    padding: 16px 0;
    color: white;
}

header .container{
    display: flex;
    align-items: center;
}

header li{
    display: inline;

}

header li a{
    color: white;
}

.container {
    width: 1366px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid green;
    background-color: darkslategrey;
    
}

.articles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid red;
    background-color: floralwhite;
    align-items: center;
}

.articles article img{
    height: 100px;

}

.articles article{
    width: 30%;
}