*{
    margin: 0;
    padding: 0;
    background-color: rgb(198, 235, 235);
    box-sizing: border-box;

}

h1{
    padding: 2px 3px 4px 5px;
    border: 2px solid green;
}


.divA{
    height: 40px;
    width: 150px;
    border: 2px solid red;

}

.divB{
    padding: 20px;
    border: 2px blue solid;
    height: 40px;
    width: 150px;

}